.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* .App-header {
  background-color: #ff8078;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-header {
  background-color: white;
  height: 80px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

.App-header .navbar {
  float: right;
  padding-top: 30px;
}

.navbar .navLink {
  width: fit-content;
  text-decoration: none;
  color: black;
}

.navHome {
  position: relative;
  width: fit-content;
  text-decoration: none;
  color: black;
}

.navbar .navLink:hover { 
  font-weight: bolder;
}
.navHome:hover { 
  font-weight: bolder;
  text-decoration: none;
}

html { 
  background-color: #ff7b7b;
}

.scaleColumn{
  background-color: #ff5757;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4),
              10px 10px rgba(46, 46, 46, 0.3),
              15px 15px rgba(70, 69, 69, 0.2),
              20px 20px rgba(100, 100, 100, 0.1),
              25px 25px rgba(129, 129, 129, 0.05);
  padding: 20px;
  font-size: x-large;
  border-radius: 10px;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.main {
  background-color: #ff7b7b;
}
.row {
  height: 180px;
}

/* .col{
  position: relative;
  z-index: 1;
} */

.niceButton {
  display: inline-block;
  padding: 0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: white;
  background-color: #ff5757;
  text-align:center;
  transition: all 0.2s;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 1;
}
.niceButton:hover{
  color: #c0392b;
  background-color: white;
  border-bottom-color: #DCDCDC;
  border-right-color: #DCDCDC;
}
.myChords{
  background-color: #ff5757;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4),
              10px 10px rgba(46, 46, 46, 0.3),
              15px 15px rgba(70, 69, 69, 0.2),
              20px 20px rgba(100, 100, 100, 0.1),
              25px 25px rgba(129, 129, 129, 0.05);
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 90px;
  border-radius: 10px;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
.textBackground{
  background-color: #ff7b7b;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-radius: 7px;
  padding: 5px;
}
.accountForm{
  margin: 0 auto;
  background-color: white;
  border: 7px solid #ff5757;
  width: 650px;
  outline: 2px solid white;
  position: relative;
  z-index: 1;
}

.formLabel{
  font-size: x-large;
}

.formInput{
  border: 4px solid #ff5757;
  padding: 4px;
  width: 225px;
}

.formHeader{
  padding-bottom: 15px;
}

.formSelect{
  width: 25%;
  height: 33px;
  font-size: 100%;
  border-radius: 0;
  background-color: #ff5757;
  border: 2px solid white;
  /* border-right: 2px solid #c0392b;
  border-bottom: 2px solid #c0392b; */
  color: white;
  /* Adding transition effect */
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

.formSelect:hover,
.formSelect:focus {
  color: #c0392b;
  background-color: white;
  border-bottom-color: #DCDCDC;
  border-right-color: #DCDCDC;
}
.accountSpan {
  background-color: white;
  padding: 4px;
}
.seperationLine {
  background-color: white;
  height: 2px;
  width: 500px;
  position: relative;
  margin: auto;
  top: 9px;
}
.chordParamDiv{
  background-color: #ff7b7b;
  border: 5px solid #ff5757;
  height: 100px;
  padding: 5px;
}

.chordLi{
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4),
              10px 10px rgba(46, 46, 46, 0.3),
              15px 15px rgba(70, 69, 69, 0.2),
              20px 20px rgba(100, 100, 100, 0.1),
              25px 25px rgba(129, 129, 129, 0.05);
  list-style-type: none;
  background-color: #ff5757;
  height: 150px;
  width: 700px;
  margin: auto;
  margin-bottom: 22px;
  border-radius: 10px;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-top: 2px solid white;
  border-left: 2px solid white;
  padding-Top: 15px;
}

.navLogo{
  max-width:17%;
  height:auto;
}

.homeLogo{
  max-width:85%;
  height:auto;
  position: relative;
  margin: auto;
  top: 170px;
}

.scaleLink{
  transition: 0.5;
}
.scaleLink:hover{
  text-decoration: none;
  font-weight: 900;
}

.scaleLi{
  transition-property: all;
  transition-duration: 1s;
  transition: 0.5s;
}
.scaleLi:hover{
  background-color: white;
  opacity: 0.75;
  /* transition: 0.5s; */
}
.pianoTL{
  border-top: 4px solid #ff8888;
  border-left: 4px solid #ff8888;
}
.pianoTR{
  border-top: 4px solid #ff8888;
  border-right: 4px solid #da4545;
}
.pianoBL{
  border-bottom: 4px solid #da4545;
  border-left: 4px solid #ff8888;
}
.pianoBR{
  border-bottom: 4px solid #da4545;
  border-right: 4px solid #da4545;
}
.homeDescription{
  margin-top: 180px;
  position: relative;
  z-index: 1;
}
.pageTitle {
  position: relative;
  z-index: 1;
}
.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.scaleDetails{
  position: relative;
  z-index: 2;
}

.pianoKey:hover{
  position: relative;
  z-index: 2;
  box-shadow:0 0 10px black;
}

.glow{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,      
        inset 20px 0 80px #DB7093,   
        inset -20px 0 80px #ffda29,  
        inset 20px 0 300px #DB7093, 
        inset -20px 0 300px #ffda29,
        0 0 50px #fff,           
        -10px 0 80px #DB7093,        
        10px 0 80px #ffda29;         
}

@media screen and (max-width: 1280px){
  .navbar .navLink {
    font-size: 1.5rem;
    position: relative;
    top: 2px;
  }
}

@media screen and (max-width: 1024px){
  .navbar .navLink {
    font-size: large;
    position: relative;
    top: 7px;
  }

}

@media screen and (min-width: 1024px){
  .navLogo{
    position: 'absolute';
    margin-left: 340px;
    margin-top: 5px;
  }

  .formLabel{
    font-size: 1rem;
  }
  .scaleLi{
    font-size: 0.9rem;
  }
  .scaleLabel{
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .formSelect{
    width: auto;
  }
  .textBackground{
    font-size: large;
  }
}
@media screen and (min-width: 1280px){
  .navLogo{
    position: 'absolute';
    margin-left: 130px;
  }
  .formLabel{
    font-size: larger;
  }
  .scaleLi{
    font-size: 1.3rem;
  }
  .scaleLabel{
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1366px){
  .navLogo{
    position: 'absolute';
    margin-left: 70px;
    margin-top: -2px;
  }
  .formLabel{
    font-size: larger;
  }
  .scaleLi{
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1440px){
  /* optimized for 1440 already */
  .navLogo{
    position: 'absolute';
    margin-top: -2px;
    margin-left: -5px;
  }
  .formLabel{
    font-size: x-large;
  }
  .scaleLi{
    font-size: 1.4rem;
  }
  .textBackground{
    font-size: 1.5rem;
  }
  .homeDescription{
    font-size: x-large;
  }
  .navbar .navLink {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1600px){
  .navLogo{
    position: 'absolute';
    margin-left: -140px;
    margin-top: -5px;
  }
  .homeDescription{
    font-size: xx-large;
  }
  .navbar .navLink {
    font-size: 1.8rem;
  }
  .row{
    height: 200px
  }
}
@media screen and (min-width: 1680px){
  .navLogo{
    position: 'absolute';
    margin-left: -190px;
    margin-top: -5px;
  }
  .row{
    height: 220px
  }
}
@media screen and (min-width: 1920px){
  .navLogo{
    position: 'absolute';
    margin-left: -400px;
    margin-top: -14px;
  }
  .formLabel{
    font-size: xx-large;
  }
  .formSelect{
    font-size: 1.2rem;
  }
  .scaleLi{
    font-size: 1.6rem;
  }
  .scaleLabel{
    font-size: 2.2rem;
  }
  .textBackground{
    font-size: 1.6rem;
  }
  .navbar .navLink {
    font-size: 1.9rem;
  }
  .row{
    height: 240px
  }
  @media screen and (min-width: 2560px){
    .navLogo{
      position: 'absolute';
      margin-left: -400px;
      margin-top: -18px;
    }
  }
}